{% extends 'layout.html' %}

{% block content %} 
<div class="entry-list single">
    <article>
        <h1>{{ entry.title }}</h1>
        <time datetime="datetime">{{ entry.date.strftime('%B %d, %Y') }} </time>
        <div class="entry">
            <h3>Time Spent: </h3>
            <p>{{ entry.duration }}</p>
        </div>
        <div class="entry">
            <h3>What I Learned:</h3>
            <p>{{ entry.learned }}</p>
        </div>
        <div class="entry">
            <h3>Resources to Remember:</h3>
            <p>{{ entry.resources }}</p>
        </div>
        <div class="entry">
            <h3>Tags</h3>
            <p>
            {% for tag in entry.get_tags() %}
                <a class="button icon-left" href="{{ url_for('tags', slug=tag.slug) }}"><span>{{ tag.tag }}</span> <i class="material-icons">tag</i></a>&nbsp;
            {% endfor %}
            </p>
        </div>
        {% if current_user.is_authenticated() %}
        <div class="entry">
            <a class="button icon-left" href="{{ url_for('edit', slug=entry.slug) }}"><span>Edit Entry</span> <i class="material-icons">edit</i></a>
            <a class="button icon-left" href="{{ url_for('delete', slug=entry.slug) }}"><span>Delete Entry</span> <i class="material-icons">delete</i></a>
        </div>
        {% endif %}

    </article>
</div>
{% endblock %}